upstream ip_hosts_add_webapp {

{% for item in ip_hosts_add_webapp %}
  server {{ item }};
{% endfor %}

}

server {
    server_name webapp.com;

    location / {
        proxy_pass http://ip_hosts_add_webapp;
        proxy_set_header    Host $host;
    }
}
